$font-stack: "Poppins", sans-serif;
$font-stack-lato: "Lato", sans-serif;

$primary-color: #ffc500;
$background: #1c1e22;
$white-color: #fff;
$grey-color: #cecece;
$gray-color: #f1f1f1;
$gray-color-2: #272B30;
$deep-grey: #b1b1b1;
$grey-dark: #7d7d7d;
$color-black: #211f26;

$font-sm: 14px;
$font-18: 18px;
